@page "/admin/books/details/{id:long}"

<h3 class="bg-info text-white text-center p-1">Details</h3>

<table class="table table-sm table-bordered table-striped">

    <tbody>
        <tr><th>Book ID:</th><td>@b.BookId</td></tr>
        <tr><th>Title:</th><td>@b.Title</td></tr>
        <tr><th>Author:</th><td>@b.Author</td></tr>
        <tr><th>Publisher:</th><td>@b.Publisher</td></tr>
        <tr><th>ISBN:</th><td>@b.Isbn</td></tr>
        <tr><th>Classification:</th><td>@b.Classification</td></tr>
        <tr><th>Category:</th><td>@b.Category</td></tr>
        <tr><th>Page Count:</th><td>@b.PageCount</td></tr>
        <tr><th>Price:</th><td>@b.Price</td></tr>
    </tbody>

</table>

<NavLink class="btn btn-warning" href="@EditUrl">Edit</NavLink>
<NavLink class="btn btn-secondary" href="/admin/books">Back</NavLink>

@code {

    [Inject]
    public IBookstoreRepository repo { get; set; }

    [Parameter]
    public long Id { get; set; }

    public Book b { get; set; }

    protected override void OnParametersSet()
    {
        b = repo.Books.FirstOrDefault(x => x.BookId == Id);
    }

    public string EditUrl => $"admin/books/edit/{b.BookId}";

}
