<table class="table table-sm table-striped table-bordered">

    <thead>
        <tr>
            <th colspan="5" class="text-center">@TableTitle</th>
        </tr>
    </thead>

    <tbody>
        @if (Purchases?.Count() > 0)
        {
            @foreach (Purchase p in Purchases)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Zip</td>
                    <th>Book</th>
                    <th>Quantity</th>

                    <td>
                        <button class="btn btn-sm btn-danger" @onclick="@(x => PurchaseSelected.InvokeAsync(p.PurchaseId))">
                            @ButtonLabel
                        </button>
                    </td>
                </tr>

                @foreach (BasketLineItem bli in p.Lines)
                {
                    <tr>
                        <td colspan="2"></td>
                        <td>@bli.Book.Title</td>
                        <td>@bli.Quantity</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Orders</td>
            </tr>
        }
    </tbody>

</table>

@code {

    [Parameter]
    public string TableTitle { get; set; } = "Purchases";

    [Parameter]
    public IEnumerable<Purchase> Purchases { get; set; }

    [Parameter]
    public string ButtonLabel { get; set; } = "Shipped";

    [Parameter]
    public EventCallback<int> PurchaseSelected { get; set; }

}
