@{
    ViewBag.Title = "Bookstore";
}

@model BooksViewModel

@foreach (Book b in Model.Books)
{
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-faded p-1">
        <h4>
            @b.Title
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>@b.Price.ToString("c")</small>
            </span>
            <span class="badge badge-pill badge-secondary" style="float:right">
                <small>@b.Category</small>
            </span>
        </h4>
    </div>
    <div class="card-text p-1">Author: @b.Author</div>
    <div class="card-text p-1">Publisher: @b.Publisher</div>
    <div class="card-text p-1">Number of Pages: @b.PageCount</div>
    <div class="card-text p-1">ISBN: @b.Isbn</div>
</div>


    @*<h3>@b.Title</h3>

    <ul>
        <li>Classification/Category: @b.Category</li>
        <li>Author: @b.Author</li>
        <li>Number of Pages: @b.PageCount</li>
        <li>Publisher: @b.Publisher</li>
        <li>Price: @b.Price</li>
        <li>ISBN: @b.Isbn</li>
    </ul>

    <br />*@
}

<div page-blah="@Model.PageInfo" page-action="Index"
     page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>